body {
    margin: 20px;
    background-image: linear-gradient(to right, #0099f7, #f11712);
    padding: 10px 20px;
    overflow: hidden;
}

img {
    margin-left: 200px;
    z-index: 2;
}

canvas {
    display: block;
    margin: 0 auto;
    width: 840px; /* Add 'px' unit */
    height: 520px; /* Add 'px' unit */
}

p {
    color: white;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 6px;
}
/* Add styles for the end screen */
#endScreen {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
}

#endScreen h1 {
    font-size: 24px;
}

#endScreen p {
    font-size: 18px;
}

#endScreen button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}
